<!-- FORM FIELDS CARD -->
<div class="form-fields-card" *ngIf="schema">

  <!-- <h3>Form Fields</h3> -->

  <!-- Dynamic Fields -->
  <div class="form-field" *ngFor="let field of schema.fields">
    <label>
      {{ field.label }}
      <span *ngIf="field.required" class="required">*</span>
    </label>

    <!-- TEXT -->
    <input *ngIf="field.type === 'text'" type="text" [(ngModel)]="formValues[field.key]" [required]="field.required" />

    <!-- NUMBER -->
    <input *ngIf="field.type === 'number'" type="number" inputmode="numeric" [(ngModel)]="formValues[field.key]"
      [required]="field.required" />

    <!-- DATE -->
    <input *ngIf="field.type === 'date'" type="date" [(ngModel)]="formValues[field.key]" [required]="field.required" />

    <!-- ERROR MESSAGE -->
    <div class="error-message" *ngIf="errors[field.key]" style="color: red; font-size: 12px; margin-top: 4px;">
      {{ errors[field.key] }}
    </div>
  </div>


</div>